@import "C:/Users/Dang Hoa/Desktop/module6/MD5-C0821H1-GOC-FE-master - Copy/ShopBi-FE/src/assets/css/signup.css";
.form-login {
  margin-top:50px;
  text-align: center;
}
.container{
  margin-top: 200px;
}
